<div class="card mt-5">
    <div class="card-header">
        Insurance Central
    </div>
    <div class="card-body">
        <table style="width:100%; height:100%">
            <tr>
                <td>
                    Your {{date}} Plan Summary
                    <hr size="20" color="#b3cbdd" style="height:0.5em; background-color: #4d4d4d;">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="card" style="height: 100%">
                                <div class="card-body" style="background-color: #b3b3b3; padding: 0px; margin: 0px;">
                                    <div>
                                        ${{totalDeductable}}
                                        <!-- <kendo-chart>
                                            <kendo-chart-title text="Units sold"></kendo-chart-title>
                                            <kendo-chart-category-axis>
                                                <kendo-chart-category-axis-item [categories]="['Q1']">
                                                </kendo-chart-category-axis-item>
                                            </kendo-chart-category-axis>
                                            <kendo-chart-series>
                                                <kendo-chart-series-item type="bar" [gap]="2" [spacing]=".25"
                                                    [data]="[100]">
                                            </kendo-chart-series-item>
                                            </kendo-chart-series>
                                        </kendo-chart>
                                        <kendo-chart>
                                                <kendo-chart-title text="Units sold"></kendo-chart-title>
                                                <kendo-chart-category-axis>
                                                    <kendo-chart-category-axis-item [categories]="['Q1']">
                                                    </kendo-chart-category-axis-item>
                                                </kendo-chart-category-axis>
                                                <kendo-chart-series>
                                                    <kendo-chart-series-item type="bar" [gap]="2" [spacing]=".25"
                                                        [data]="[100]">
                                                </kendo-chart-series-item>
                                                </kendo-chart-series>
                                            </kendo-chart> -->
                                        <div style="display: block; width: 100%; height: 100%;">
                                            <canvas style="object-fit: contain" baseChart [datasets]="barChartData"
                                                [labels]="barChartLabels" [options]="barChartOptions"
                                                [legend]="barChartLegend" [chartType]="barChartType">
                                            </canvas>
                                        </div>
                                        <!-- <canvas baseChart [datasets]="chartDataSets" [labels]="chartLabels"
                                            [colors]="chartColors" [options]="chartOptions" [legend]="true"
                                            [chartType]="chartType">
                                        </canvas> -->
                                    </div>
                                </div>
                                <div class="card-footer text-white" style="background-color: #474747">
                                    YTD Health Costs
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card" style="height: 100%">
                                <div class="card-body" style="background-color: #75b6eb">
                                    <div>
                                        $17,497
                                    </div>
                                </div>
                                <div class="card-footer text-white" style="background-color: #0047a3">
                                    YTD Health Costs
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card" style="height: 100%">
                                <div class="card-body" style="background-color: #86ee8f; align-content: center">
                                    <div style="width: 70%; height: 50%;">
                                        <canvas style="object-fit: contain;" baseChart [datasets]="deductChartData"
                                            [labels]="deductChartLabels" [options]="deductChartOptions"
                                            [legend]="deductChartLegend" [chartType]="deductChartType">
                                        </canvas>
                                    </div>
                                </div>
                                <div class="card-footer text-white" style="background-color: #027c1c">
                                    YTD Health Costs
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card" style="height: 100%">
                                <div class="card-body" style="background-color: #ffffff">
                                    <div>
                                        $17,497
                                    </div>
                                </div>
                                <div class="card-footer text-white" style="background-color: #000000">
                                    YTD Health Costs
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <div class="mt-4" style="width: 100%">

            </div>
            <tr>
                <td>
                    Your Claims Data
                    <hr size="20" color="#b3cbdd" style="height:0.5em; background-color: #4d4d4d;">
                    <!-- <div class="row claim" style="width: 75%; float: left">
                        <div class="col-sm-3">
                            <div class="card" style="height: 100%">
                                <div class="card-header text-white" style="background-color: #00236e">
                                    YTD Health Costs
                                </div>
                                <div class="card-body" style="background-color: #ffffff">
                                    <div>
                                        $17,497
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" style="height: 100%">
                                <div class="card-header text-white" style="background-color: #00236e">
                                    YTD Health Costs
                                </div>
                                <div class="card-body" style="background-color: #ffffff">
                                    <div>
                                        $17,497
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" style="height: 100%">
                                <div class="card-header text-white" style="background-color: #00236e">
                                    YTD Health Costs
                                </div>
                                <div class="card-body" style="background-color: #ffffff">
                                    <div>
                                        $17,497
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" style="height: 100%">
                                <div class="card-header text-white" style="background-color: #00236e">
                                    YTD Health Costs
                                </div>
                                <div class="card-body" style="background-color: #ffffff">
                                    <div>
                                        $17,497
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-4" *ngFor="let claim of claims; index as i">
                                    <div class="card mt-2">
                                        <div class="card-header font-weight-bold text-center text-white"
                                            style="background-color: #1a6dda; height: 3em;">
                                            {{claim.date}}
                                        </div>
                                        <div class="card-body">
                                            <div class="text-center">
                                                {{claim.hospital}}
                                                <table style="align-self: center; width: 100%">
                                                    <tr style="width: 100%">
                                                        <td>
                                                            Total
                                                        </td>
                                                        <td style="color: #1a6dda; ">
                                                            ${{claim.totalAmount}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            You Paid
                                                        </td>
                                                        <td>
                                                            ${{claim.paidAmount}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <table style="float: right">
                                                <tr>
                                                    <td>
                                                        <i class="fa fa-share-alt-square fa-2x"></i>
                                                    </td>
                                                    <td>
                                                            <i class="fa fa-file fa-2x" aria-hidden="true"></i>
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-comments fa-2x"></i>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-3" style="align-self: center">
                                    <div class="inner1"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
                                    <div class="inner2">You</div>
                                </div>
                                <div class="col-sm-3" style="align-self: center">
                                    <div class="inner1"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
                                    <div class="inner2">Sophia</div>
                                </div>
                                <div class="col-sm-3" style="align-self: center">
                                    <div class="inner1"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
                                    <div class="inner2">Ethan</div>
                                </div>
                                <div class="col-sm-3" style="align-self: center">
                                    <div class="inner1"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
                                    <div class="inner2">Kai</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="claim-inline" style="width: 25%">
                        Values
                    </div> -->
                </td>
            </tr>

        </table>
    </div>
</div>