<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0684e4;">
    <a class="navbar-brand" href="#">
        <img src="assets/images/baseline_thumb_up_black_18dp.png">
        Motion
    </a>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarText">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="assets/images/baseline_account_circle_black_18dp.png">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="assets/images/baseline_settings_applications_black_18dp.png">
                </a>
            </li>
        </ul>
    </div>
</nav>